.label {
    -fx-font-family: "Meiryo";
}

.label.heading {
    -fx-font-size: 3em; 
    -fx-alignment: center;
}

.label.body {
    -fx-font-size: 2.5em;
}
.label.code {
    -fx-font-size: 1.5em;
    -fx-font-family: "Consolas";
}
