.label {
    -fx-font-family: "Meiryo";
}

.label.heading {
    -fx-font-size: 4em; /* 6em; */
    -fx-alignment: center;
}

.label.body {
    -fx-font-size: 3.5em; /* 4em; */
}
.label.code {
    -fx-font-size: 2.5em; /* 3.5em; */
    -fx-font-family: "Consolas";
}
